
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');



:root{
    --main-color: #b074d5;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    max-height: none;
}

html{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
body{
   background-color: floralwhite;
   color: black;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: #d0a3ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.4rem;
    color: #f7f7f7;
    font-weight: 600;
    cursor: default;
}

.nav a{
    font-size: 1.2rem;
    color: #f3eff6;
    padding: 0.5rem 1rem;
    transition: 0.4s;
}
.nav a:hover {
    color: rgb(130, 71, 159);
}

section{
    padding: 6rem 6rem 2rem;
}

span{
    color: #632f83;
}

.sobremim {
    display: flex;
    padding: 20px;
}

.sobremim-img img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 800px;
    margin-top: -350px;
}

.sobremim-content{
    flex: 1;
    margin-right: 20px;
}

.sobremim-content h1 {
    font-weight: 700;
    margin-top: 30px;
    font-size: 2.3rem;
    line-height: 1.3;
}

.sobremim-content h3 {
    font-weight: 700;
    margin-top: 50px;
    font-size: 2.7rem;
    line-height: 1.3;
}
.sobremim-content p{
    margin-top: 1.6rem;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.8;
    margin-right: 590px;
}

.Hobbies h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;

}

.hobbies-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hobbies-container .clipes{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--main-color);
    background-color: #f3eff6;
    transition: 0.5s ease;
}

.clipes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30rem;
    margin-left: 1.5rem;
}

.hobbies-container .clipes:hover{
    border-color: #b074d5;
    transform: scale(1.05);
}

.clipes i{
    font-size: 4.3rem;
    color: #000;
}

.clipes h3{
    font-size: 1.8rem;
    margin-top: -35px;
}

.clipes p{
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: #632f83;
    border-radius: 2rem;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: #d0a3ec;
    cursor: pointer;
}
.Contato{
    margin-bottom: 0;
}
.Contato img{
    width: 4rem;
     
}

.redessocias a {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 5rem;
    color: #b074d5;
    margin-left: 270px;
    margin-bottom: 0;
}

.Contato h2 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}
